body{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}